.textArea textarea {
  position: relative;
  background: #0d1212;
  border-radius: 8px;
  border: 1px solid #252525;
  color: #768787;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  width: 90%;
  min-height: 160px;
}
