.formControl.error input,
.formControl.error textarea {
    border: 2px solid darkred;
}

.formControl.error, h4 {
    color: darkred !important;
}

.formSummaryError {
    color: #b82e1f;
    padding-top: 10px;
    font-weight: bold;
}