.appBgImg img {
	width: 100%;
	max-width: 840px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	height: 250px;
	object-fit: cover;
}

.appAvatarBlock {
	padding: 20px;
}

.statusMode {
	cursor: pointer;
	padding-left: 10px;
}

.editButton {
	padding: 10px;
	background-color: #181d1c;
	font-size: 16px;
	border-radius: 10px;
}
.formSummaryError {
	color: #b82e1f;
	padding-top: 10px;
	font-weight: bold;
}