.login {
    width: 100%;
    max-width: 840px;
    margin-bottom: 50px;
    color: #eef2f1;
    border: 1px solid #252525;
    border-radius: 18px;
    background-color: #181d1c;
    fill: #eef2f1;
    margin-top: 20px;
    padding: 20px;
}

button {
    float: none !important;
    bottom: 0 !important;
    right: 0 !important;
    top: 10px;
}

.form {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.formControl {
    /*display: flex;*/
    margin-top: 10px;
}

input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    line-height: 2;
    cursor: pointer;
    transition: .5s;

    color: #000000;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid #EAEAEA;
}

input:hover {
    border-color: #494949;
}