.app-img {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}

body {
  background-color: #0d1212;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.app-container-header {
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  grid-area: header;
}

.app-header {
  grid-area: header;
  display: grid;
  align-items: center;
  width: 100%;
  background: rgba(var(--tp-primary-background-color-rgb), 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  grid-template-columns: 220px 1fr minmax(280px, 380px);
  gap: 60px;
  transition: background-color 0.2s ease-in-out;
  padding-top: 20px;
}
.app-nav {
  grid-area: nav;
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100vh - 104px);
  position: sticky;
  z-index: 5;
  top: 104px;
  margin-top: 20px;
}

a {
  display: grid;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  color: #c5d3d3;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
  background: 0 0;
  cursor: pointer;
  transition: color 0.25s ease-in, fill 0.25s ease-in, stroke 0.25s ease-in;
  text-decoration: none;
  grid-auto-flow: column;
  gap: 8px;
  fill: #485656;
  stroke: #485656;
  padding-left: 20px;
}

.app-content {
  grid-area: content;
  width: 100%;
  max-width: 840px;
  margin-bottom: 50px;
  color: #eef2f1;
  border: 1px solid #252525;
  border-radius: 18px;
  background-color: #181d1c;
  fill: #eef2f1;
  margin-top: 20px;
}

.app-content-body {
  padding: 20px;
}


.app-bg-img img {
  width: 100%;
  max-width: 840px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
