.dialogs {
	grid-area: content;
	width: 100%;
	max-width: 840px;
	margin-bottom: 50px;
	color: #eef2f1;
	border: 1px solid #252525;
	border-radius: 18px;
	background-color: #181d1c;
	fill: #eef2f1;
	margin-top: 20px;
	padding: 20px;
}